body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #74ebd5, #9face6);
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-box {
  background: white;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

form input,
form select {
  display: block;
  margin: 12px auto;
  padding: 8px;
  width: 60%;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  text-align: center;
  background-color: #f8f8f8;
  appearance: none;
}

button {
  padding: 12px;
  background-color: #6a5acd;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  margin-top: 12px;
}

/* button:hover { */
  /* background-color: #5b4acf; */
/* } */

.toggle-btn {
  background: transparent;
  color: #333;
  margin-top: 10px;
  text-decoration: underline;
  border: none;
}

.message {
  margin-top: 10px;
  color: green;
  font-weight: bold;
}
